/* 
    Created on : 16 feb 2023, 18:49:53
    Author     : pablo
*/
body{
    text-align: center;
    background-color: wheat;
}

.title{
    background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px #ba07a2;
}

