/*Variales de colores*/
:root{
    --color-primary: #0000a0;
    --color-primary-contrast: #f0f0f0;
    --color-secondary: #891eb3;
    --color-secondary-contrast: #f0f0f0;
    --color-danger: #ff0000;
    --color-danger-contrast: #f0f0f0;
    --color-succes: #00f000;
    --color-succes-contrast: #f0f0f0;
    --color-warning: #f0f000;
    --color-warning-contrast: #404040;
}

/*Imagen de fondo*/
body {
    background-image: url('../IMG/fondo.jpg');
}

/*Titulo del juego*/
.titulo {
    text-align: center; 
    font-family: Arial Black; 
    margin-top: auto;
    font-weight: bold; 
    font-size: 70px; 
    color: #ff0099; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

/*Para que los botones tengan sus colores y animaciones*/
input[type="submit"] {
    background-color: #4c5baf;
    border: none;
    color: white;
    padding: 14px 81px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;
}
  
input[type="submit"]:hover {
    background-color: #3e8e41;
}

.input-number {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
  
.input-number:focus {
    border-color: #0000a0;
    outline: none;
}

/*Para que las cartas esten bonitas*/
.cartas{
    display:flex;
    justify-content:center;
}

.carta{
    padding: 10px;
}

/*Para que los formularios este en medio*/
.formulario input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    text-align: center;
}

/*Texto bonito para aquello que no es un titulo*/
.frase{
    color: #ff0078;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*Botones de mayor, menor e igual y para darle a jugar*/
.botones{
    display: flex;
    justify-content: center;
}

/*Div de las reglas de juego*/
.reglas {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    color: #333;
    transition: all 0.2s ease-in-out;
}

.reglas:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}